{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Manufacturer: ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>
  <h1>
    Drivers
    <form method="post" action="{% url 'taxi:toggle-car-assign' car.pk %}">
      {% csrf_token %}
      {% if user in car.drivers.all %}
        <button style="float: right" type="submit" class="btn btn-danger">Delete me from this car</button>
      {% else %}
        <button style="float: right" type="submit" class="btn btn-success">Assign me to this car</button>
      {% endif %}
    </form>
  </h1>
  <br>
  <ul>
    {% for driver in car.drivers.all %}
      <li>
        <hr>
        <strong>Username: </strong>{{ driver.username }}
        <br>
        <strong>Full name: </strong>{{ driver.first_name }} {{ driver.last_name }}
        <br>
        <strong>License number: </strong>{{ driver.license_number }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
